USE [master]
GO
/****** Object:  Database [QuanLyTracNghiemHocSinh-LTQLUD]    Script Date: 05/01/2020 13:49:32 ******/
CREATE DATABASE [QuanLyTracNghiemHocSinh-LTQLUD]
GO
USE [QuanLyTracNghiemHocSinh-LTQLUD]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[MaCauHoi] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
	[CauA] [nvarchar](50) NULL,
	[CauB] [nvarchar](50) NULL,
	[CauC] [nvarchar](50) NULL,
	[CauD] [nvarchar](50) NULL,
	[CauDung] [nchar](5) NULL,
	[MaKhoi] [int] NULL,
	[HocSinhDongGop] [bit] NULL,
	[DoKho] [int] NULL,
 CONSTRAINT [PK_CauHoi] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CauHoiTrongDeNao]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoiTrongDeNao](
	[MaCauHoi] [int] NOT NULL,
	[MaDe] [nchar](10) NOT NULL,
	[MaKhoi] [int] NOT NULL,
 CONSTRAINT [PK_CauHoiTrongDeNao] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC,
	[MaDe] ASC,
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[De]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[De](
	[MaDe] [nchar](10) NOT NULL,
	[TenDe] [nvarchar](50) NULL,
	[MaKhoi] [int] NOT NULL,
	[DoKho] [nvarchar](20) NULL,
 CONSTRAINT [PK_De] PRIMARY KEY CLUSTERED 
(
	[MaDe] ASC,
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeOnTap]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeOnTap](
	[MaHocSinh] [nchar](10) NOT NULL,
	[MaDe] [nchar](10) NOT NULL,
	[MaKhoi] [int] NOT NULL,
	[NgayGioiHan] [date] NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_DeOnTap] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC,
	[MaDe] ASC,
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeVaKhoiTrongKyThi]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeVaKhoiTrongKyThi](
	[MaDeVaKhoiTrongKyThi] [nchar](10) NOT NULL,
	[MaDe] [nchar](10) NULL,
	[MaKhoi] [int] NOT NULL,
	[MaKyThi] [varchar](10) NULL,
 CONSTRAINT [PK_DeVaKhoiTrongKyThi] PRIMARY KEY CLUSTERED 
(
	[MaDeVaKhoiTrongKyThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DoKho]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoKho](
	[maDoKho] [int] NOT NULL,
	[TenDoKho] [nvarchar](50) NULL,
 CONSTRAINT [PK_DoKho] PRIMARY KEY CLUSTERED 
(
	[maDoKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGiaVien] [nchar](10) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[MaKhoi] [int] NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGiaVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HocSinh](
	[MaHocSinh] [nchar](10) NOT NULL,
	[Password] [nvarchar](1000) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[MaLop] [nchar](10) NULL,
	[SoilPass] [varchar](5) NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HocSinhTrongKiThi]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinhTrongKiThi](
	[MaHocSinh] [nchar](10) NOT NULL,
	[MaDeVaKhoiTrongKiThi] [nchar](10) NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_HocSinhTrongKiThi] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC,
	[MaDeVaKhoiTrongKiThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khoi]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoi](
	[MaKhoi] [int] NOT NULL,
	[TenKhoi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Khoi] PRIMARY KEY CLUSTERED 
(
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KyThi]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KyThi](
	[MaKyThi] [varchar](10) NOT NULL,
	[TenKyThi] [nvarchar](150) NULL,
	[NgayThi] [date] NULL,
 CONSTRAINT [PK_KyThi] PRIMARY KEY CLUSTERED 
(
	[MaKyThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 05/01/2020 13:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [nchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[MaKhoi] [int] NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CauHoi] ON 

INSERT [dbo].[CauHoi] ([MaCauHoi], [NoiDung], [CauA], [CauB], [CauC], [CauD], [CauDung], [MaKhoi], [HocSinhDongGop], [DoKho]) VALUES (1, N'Hello là gì ', N'Xin chào ', N'Xin lỗi', N'Xin ăn', N'Xin sự', N'A    ', 10, 0, 1)
INSERT [dbo].[CauHoi] ([MaCauHoi], [NoiDung], [CauA], [CauB], [CauC], [CauD], [CauDung], [MaKhoi], [HocSinhDongGop], [DoKho]) VALUES (2, N'1 + 1 = ?', N'2', N'3', N'4', N'5', N'A    ', 10, 0, 1)
INSERT [dbo].[CauHoi] ([MaCauHoi], [NoiDung], [CauA], [CauB], [CauC], [CauD], [CauDung], [MaKhoi], [HocSinhDongGop], [DoKho]) VALUES (3, N'Trong tập N* số chẵn nhỏ nhất là', N'0', N'2', N'4', N'6', N'B    ', 10, 0, 1)
SET IDENTITY_INSERT [dbo].[CauHoi] OFF
INSERT [dbo].[CauHoiTrongDeNao] ([MaCauHoi], [MaDe], [MaKhoi]) VALUES (1, N'D123      ', 10)
INSERT [dbo].[CauHoiTrongDeNao] ([MaCauHoi], [MaDe], [MaKhoi]) VALUES (1, N'D456      ', 10)
INSERT [dbo].[CauHoiTrongDeNao] ([MaCauHoi], [MaDe], [MaKhoi]) VALUES (1, N'MA20200000', 10)
INSERT [dbo].[De] ([MaDe], [TenDe], [MaKhoi], [DoKho]) VALUES (N'D123      ', N'Đề 123', 10, N'dễ')
INSERT [dbo].[De] ([MaDe], [TenDe], [MaKhoi], [DoKho]) VALUES (N'D456      ', N'Đề 456', 10, N'trung bình')
INSERT [dbo].[De] ([MaDe], [TenDe], [MaKhoi], [DoKho]) VALUES (N'MA20200000', N'Khối 10 - 0', 10, N'dễ')
INSERT [dbo].[DeOnTap] ([MaHocSinh], [MaDe], [MaKhoi], [NgayGioiHan], [Diem]) VALUES (N'HS20190001', N'D123      ', 10, CAST(N'2020-01-01' AS Date), 9.9999999999999982)
INSERT [dbo].[DeVaKhoiTrongKyThi] ([MaDeVaKhoiTrongKyThi], [MaDe], [MaKhoi], [MaKyThi]) VALUES (N'1201201520', N'MA20200000', 10, N'KT20201501')
INSERT [dbo].[DeVaKhoiTrongKyThi] ([MaDeVaKhoiTrongKyThi], [MaDe], [MaKhoi], [MaKyThi]) VALUES (N'1201201521', N'MA20200001', 10, N'KT20201501')
INSERT [dbo].[DoKho] ([maDoKho], [TenDoKho]) VALUES (1, N'dễ')
INSERT [dbo].[DoKho] ([maDoKho], [TenDoKho]) VALUES (2, N'trung binh')
INSERT [dbo].[DoKho] ([maDoKho], [TenDoKho]) VALUES (3, N'kho')
INSERT [dbo].[GiaoVien] ([MaGiaVien], [Password], [HoTen], [DiaChi], [Email], [SDT], [MaKhoi]) VALUES (N'GV0001    ', N'Hello', N'ádadasda', N'Hồ Chí Minh', N'Email@gmail.com', N'0123456789', 10)
INSERT [dbo].[GiaoVien] ([MaGiaVien], [Password], [HoTen], [DiaChi], [Email], [SDT], [MaKhoi]) VALUES (N'GV0002    ', N'Hello', N'Nguyễn Văn B', N'Hồ Chí Minh', N'Email@gmail.com', N'0123456789', 12)
INSERT [dbo].[HocSinh] ([MaHocSinh], [Password], [HoTen], [NgaySinh], [DiaChi], [MaLop], [SoilPass]) VALUES (N'HS20190001', N'17024513870237185141524142191242121884980', N'Lê Trung Trực', CAST(N'1997-12-02' AS Date), N'Tp.HCM', N'10CK1     ', N'26935')
INSERT [dbo].[HocSinh] ([MaHocSinh], [Password], [HoTen], [NgaySinh], [DiaChi], [MaLop], [SoilPass]) VALUES (N'HS20190002', NULL, N'ABC1', NULL, NULL, N'10CK2     ', NULL)
INSERT [dbo].[HocSinh] ([MaHocSinh], [Password], [HoTen], [NgaySinh], [DiaChi], [MaLop], [SoilPass]) VALUES (N'HS20190003', NULL, N'ABC2', NULL, NULL, N'10CK3     ', NULL)
INSERT [dbo].[HocSinhTrongKiThi] ([MaHocSinh], [MaDeVaKhoiTrongKiThi], [Diem]) VALUES (N'HS20190001', N'1201201520', 9.9999999999999982)
INSERT [dbo].[Khoi] ([MaKhoi], [TenKhoi]) VALUES (10, N'Khối 10')
INSERT [dbo].[Khoi] ([MaKhoi], [TenKhoi]) VALUES (11, N'Khối 11')
INSERT [dbo].[Khoi] ([MaKhoi], [TenKhoi]) VALUES (12, N'Khối 12')
INSERT [dbo].[KyThi] ([MaKyThi], [TenKyThi], [NgayThi]) VALUES (N'KT20201500', N'Thi 15 phút', CAST(N'2020-01-03' AS Date))
INSERT [dbo].[KyThi] ([MaKyThi], [TenKyThi], [NgayThi]) VALUES (N'KT20201501', N'Thi 15 phút', CAST(N'2020-01-03' AS Date))
INSERT [dbo].[KyThi] ([MaKyThi], [TenKyThi], [NgayThi]) VALUES (N'KT20201502', N'Thi 15 phút', CAST(N'2020-01-03' AS Date))
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoi]) VALUES (N'10CK1     ', N'10CK1', 10)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoi]) VALUES (N'10CK2     ', N'10CK2', 10)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoi]) VALUES (N'10CK3     ', N'10CK3', 10)
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_DoKho] FOREIGN KEY([DoKho])
REFERENCES [dbo].[DoKho] ([maDoKho])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_DoKho]
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_Khoi] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[Khoi] ([MaKhoi])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_Khoi]
GO
ALTER TABLE [dbo].[CauHoiTrongDeNao]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiTrongDeNao_CauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[CauHoiTrongDeNao] CHECK CONSTRAINT [FK_CauHoiTrongDeNao_CauHoi]
GO
ALTER TABLE [dbo].[CauHoiTrongDeNao]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiTrongDeNao_De] FOREIGN KEY([MaDe], [MaKhoi])
REFERENCES [dbo].[De] ([MaDe], [MaKhoi])
GO
ALTER TABLE [dbo].[CauHoiTrongDeNao] CHECK CONSTRAINT [FK_CauHoiTrongDeNao_De]
GO
ALTER TABLE [dbo].[De]  WITH CHECK ADD  CONSTRAINT [FK_De_Khoi] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[Khoi] ([MaKhoi])
GO
ALTER TABLE [dbo].[De] CHECK CONSTRAINT [FK_De_Khoi]
GO
ALTER TABLE [dbo].[DeOnTap]  WITH CHECK ADD  CONSTRAINT [FK_DeOnTap_De] FOREIGN KEY([MaDe], [MaKhoi])
REFERENCES [dbo].[De] ([MaDe], [MaKhoi])
GO
ALTER TABLE [dbo].[DeOnTap] CHECK CONSTRAINT [FK_DeOnTap_De]
GO
ALTER TABLE [dbo].[DeOnTap]  WITH CHECK ADD  CONSTRAINT [FK_DeOnTap_HocSinh] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[DeOnTap] CHECK CONSTRAINT [FK_DeOnTap_HocSinh]
GO
ALTER TABLE [dbo].[DeVaKhoiTrongKyThi]  WITH CHECK ADD  CONSTRAINT [FK_DeVaKhoiTrongKyThi_De] FOREIGN KEY([MaDe], [MaKhoi])
REFERENCES [dbo].[De] ([MaDe], [MaKhoi])
GO
ALTER TABLE [dbo].[DeVaKhoiTrongKyThi] CHECK CONSTRAINT [FK_DeVaKhoiTrongKyThi_De]
GO
ALTER TABLE [dbo].[DeVaKhoiTrongKyThi]  WITH CHECK ADD  CONSTRAINT [FK_DeVaKhoiTrongKyThi_KyThi] FOREIGN KEY([MaKyThi])
REFERENCES [dbo].[KyThi] ([MaKyThi])
GO
ALTER TABLE [dbo].[DeVaKhoiTrongKyThi] CHECK CONSTRAINT [FK_DeVaKhoiTrongKyThi_KyThi]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_Khoi] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[Khoi] ([MaKhoi])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_Khoi]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_Lop]
GO
ALTER TABLE [dbo].[HocSinhTrongKiThi]  WITH CHECK ADD  CONSTRAINT [FK_HocSinhTrongKiThi_DeVaKhoiTrongKyThi] FOREIGN KEY([MaDeVaKhoiTrongKiThi])
REFERENCES [dbo].[DeVaKhoiTrongKyThi] ([MaDeVaKhoiTrongKyThi])
GO
ALTER TABLE [dbo].[HocSinhTrongKiThi] CHECK CONSTRAINT [FK_HocSinhTrongKiThi_DeVaKhoiTrongKyThi]
GO
ALTER TABLE [dbo].[HocSinhTrongKiThi]  WITH CHECK ADD  CONSTRAINT [FK_HocSinhTrongKiThi_HocSinh] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[HocSinhTrongKiThi] CHECK CONSTRAINT [FK_HocSinhTrongKiThi_HocSinh]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoi] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[Khoi] ([MaKhoi])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoi]
GO
USE [master]
GO
