USE [master]
GO
/****** Object:  Database [QuanLyTracNghiemHocSinh-LTQLUD]    Script Date: 02/12/2019 22:22:20 ******/
CREATE DATABASE [QuanLyTracNghiemHocSinh-LTQLUD]
GO
USE [QuanLyTracNghiemHocSinh-LTQLUD]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[MaCauHoi] [int] NOT NULL,
	[CauHoi] [nvarchar](200) NULL,
	[CauA] [nvarchar](50) NULL,
	[CauB] [nvarchar](50) NULL,
	[CauC] [nvarchar](50) NULL,
	[CauD] [nvarchar](50) NULL,
	[CauDung] [nchar](5) NULL,
	[MaKhoi] [int] NULL,
	[HocSinhDongGop] [bit] NULL,
 CONSTRAINT [PK_CauHoi] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CauHoiTrongDeNao]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoiTrongDeNao](
	[MaCauHoi] [int] NOT NULL,
	[MaDe] [nchar](10) NOT NULL,
	[MaKhoi] [int] NOT NULL,
 CONSTRAINT [PK_CauHoiTrongDeNao] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC,
	[MaDe] ASC,
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[De]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[De](
	[MaDe] [nchar](10) NOT NULL,
	[TenDe] [nvarchar](50) NULL,
	[MaKhoi] [int] NOT NULL,
	[DoKho] [nvarchar](20) NULL,
 CONSTRAINT [PK_De] PRIMARY KEY CLUSTERED 
(
	[MaDe] ASC,
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeOnTap]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeOnTap](
	[MaHocSinh] [nchar](10) NOT NULL,
	[MaDe] [nchar](10) NOT NULL,
	[MaKhoi] [int] NOT NULL,
	[NgayGioiHan] [date] NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_DeOnTap] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC,
	[MaDe] ASC,
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGiaVien] [nchar](10) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[MaKhoi] [int] NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGiaVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HocSinh](
	[MaHocSinh] [nchar](10) NOT NULL,
	[Password] [nvarchar](1000) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[MaLop] [nchar](10) NULL,
	[SoilPass] [varchar](5) NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HocSinhTrongKiThi]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinhTrongKiThi](
	[MaHocSinh] [nchar](10) NOT NULL,
	[MaDeVaKhoiTrongKiThi] [nchar](10) NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_HocSinhTrongKiThi] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC,
	[MaDeVaKhoiTrongKiThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khoi]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoi](
	[MaKhoi] [int] NOT NULL,
	[TenKhoi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Khoi] PRIMARY KEY CLUSTERED 
(
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KiThi]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiThi](
	[MaKiThi] [nchar](10) NOT NULL,
	[TenKiThi] [nchar](10) NULL,
	[NgayThi] [date] NULL,
 CONSTRAINT [PK_KiThi] PRIMARY KEY CLUSTERED 
(
	[MaKiThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lop]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [nchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[MaKhoi] [int] NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaDeVaKhoiTrongKiThi]    Script Date: 02/12/2019 22:22:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaDeVaKhoiTrongKiThi](
	[MaKiThi] [nchar](10) NULL,
	[MaDe] [nchar](10) NULL,
	[MaKhoi] [int] NULL,
	[MaDeVaKhoiTrongKiThi] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MaDeVaKhoiTrongKiThi] PRIMARY KEY CLUSTERED 
(
	[MaDeVaKhoiTrongKiThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[GiaoVien] ([MaGiaVien], [Password], [HoTen], [DiaChi], [Email], [SDT], [MaKhoi]) VALUES (N'GV0001    ', N'Hello', N'Nguyễn Văn A', N'Hồ Chí Minh', N'Email@gmail.com', N'0123456789', 1)
INSERT [dbo].[GiaoVien] ([MaGiaVien], [Password], [HoTen], [DiaChi], [Email], [SDT], [MaKhoi]) VALUES (N'GV0002    ', N'Hello', N'Nguyễn Văn B', N'Hồ Chí Minh', N'Email@gmail.com', N'0123456789', 2)
INSERT [dbo].[HocSinh] ([MaHocSinh], [Password], [HoTen], [NgaySinh], [DiaChi], [MaLop], [SoilPass]) VALUES (N'HS20190001', N'17024513870237185141524142191242121884980', N'Lê Trung Trực', CAST(N'1997-12-02' AS Date), N'Tp.HCM', NULL, N'26935')
INSERT [dbo].[Khoi] ([MaKhoi], [TenKhoi]) VALUES (1, N'Khối 1')
INSERT [dbo].[Khoi] ([MaKhoi], [TenKhoi]) VALUES (2, N'Khối 2')
INSERT [dbo].[Khoi] ([MaKhoi], [TenKhoi]) VALUES (3, N'Khối 3')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoi]) VALUES (N'LOP11     ', N'Lớp 1 - 1 ', 1)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoi]) VALUES (N'LOP12     ', N'Lớp 1 - 2 ', 1)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoi]) VALUES (N'LOP13     ', N'Lớp 1 - 3', 1)
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_Khoi] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[Khoi] ([MaKhoi])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_Khoi]
GO
ALTER TABLE [dbo].[CauHoiTrongDeNao]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiTrongDeNao_CauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[CauHoiTrongDeNao] CHECK CONSTRAINT [FK_CauHoiTrongDeNao_CauHoi]
GO
ALTER TABLE [dbo].[CauHoiTrongDeNao]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiTrongDeNao_De] FOREIGN KEY([MaDe], [MaKhoi])
REFERENCES [dbo].[De] ([MaDe], [MaKhoi])
GO
ALTER TABLE [dbo].[CauHoiTrongDeNao] CHECK CONSTRAINT [FK_CauHoiTrongDeNao_De]
GO
ALTER TABLE [dbo].[De]  WITH CHECK ADD  CONSTRAINT [FK_De_Khoi] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[Khoi] ([MaKhoi])
GO
ALTER TABLE [dbo].[De] CHECK CONSTRAINT [FK_De_Khoi]
GO
ALTER TABLE [dbo].[DeOnTap]  WITH CHECK ADD  CONSTRAINT [FK_DeOnTap_De] FOREIGN KEY([MaDe], [MaKhoi])
REFERENCES [dbo].[De] ([MaDe], [MaKhoi])
GO
ALTER TABLE [dbo].[DeOnTap] CHECK CONSTRAINT [FK_DeOnTap_De]
GO
ALTER TABLE [dbo].[DeOnTap]  WITH CHECK ADD  CONSTRAINT [FK_DeOnTap_HocSinh] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[DeOnTap] CHECK CONSTRAINT [FK_DeOnTap_HocSinh]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_Khoi] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[Khoi] ([MaKhoi])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_Khoi]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_Lop]
GO
ALTER TABLE [dbo].[HocSinhTrongKiThi]  WITH CHECK ADD  CONSTRAINT [FK_HocSinhTrongKiThi_HocSinh] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HocSinh] ([MaHocSinh])
GO
ALTER TABLE [dbo].[HocSinhTrongKiThi] CHECK CONSTRAINT [FK_HocSinhTrongKiThi_HocSinh]
GO
ALTER TABLE [dbo].[HocSinhTrongKiThi]  WITH CHECK ADD  CONSTRAINT [FK_HocSinhTrongKiThi_MaDeVaKhoiTrongKiThi] FOREIGN KEY([MaDeVaKhoiTrongKiThi])
REFERENCES [dbo].[MaDeVaKhoiTrongKiThi] ([MaDeVaKhoiTrongKiThi])
GO
ALTER TABLE [dbo].[HocSinhTrongKiThi] CHECK CONSTRAINT [FK_HocSinhTrongKiThi_MaDeVaKhoiTrongKiThi]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoi] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[Khoi] ([MaKhoi])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoi]
GO
ALTER TABLE [dbo].[MaDeVaKhoiTrongKiThi]  WITH CHECK ADD  CONSTRAINT [FK_MaDeVaKhoiTrongKiThi_De] FOREIGN KEY([MaDe], [MaKhoi])
REFERENCES [dbo].[De] ([MaDe], [MaKhoi])
GO
ALTER TABLE [dbo].[MaDeVaKhoiTrongKiThi] CHECK CONSTRAINT [FK_MaDeVaKhoiTrongKiThi_De]
GO
ALTER TABLE [dbo].[MaDeVaKhoiTrongKiThi]  WITH CHECK ADD  CONSTRAINT [FK_MaDeVaKhoiTrongKiThi_KiThi] FOREIGN KEY([MaKiThi])
REFERENCES [dbo].[KiThi] ([MaKiThi])
GO
ALTER TABLE [dbo].[MaDeVaKhoiTrongKiThi] CHECK CONSTRAINT [FK_MaDeVaKhoiTrongKiThi_KiThi]
GO
USE [master]
GO
