<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.CSDLConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CSDL.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.CSDLConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CSDL.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyTracNghiemHocSinh_LTQLUDConnectionString"
            connectionString="Data Source=DESKTOP-AJ69G9K\SQLEXPRESS;Initial Catalog=QuanLyTracNghiemHocSinh-LTQLUD;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyTracNghiemHocSinh_LTQLUDConnectionString1"
            connectionString="Data Source=DESKTOP-VBJGI2B\SQLEXPRESS;Initial Catalog=QuanLyTracNghiemHocSinh-LTQLUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLyTracNghiemHocSinh_LTQLUDConnectionString2"
            connectionString="Data Source=DESKTOP-AJ69G9K\SQLEXPRESS;Initial Catalog=QuanLyTracNghiemHocSinh-LTQLUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration> 